<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

      <!-- Jquery is useful to make some javascript simpler, e.g. the calls to the command urls -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <title>Web Controlled Robots</title>

      <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet" type="text/css">
        <script>
          var TIMEINROOM = {{timeinroom}};          // seconds allowed controlling robot in room
          var TIMEBEFOREEXIT = {{timebeforeexit}};  // seconds to stay in room after control finished

          // Get the camera info from the Flask app
          var cameras = {{cameras|safe}};
          var cameraKeys = Object.keys(cameras);
          var cameraValues = Object.values(cameras);
          var numCameras = cameraKeys.length;
          var currentCamera = 0;

          // Set the default camera
          function initCamera() {
            document.getElementById("video").src = "/camera/" + cameraKeys[currentCamera]; //cameraValues[currentCamera];
          }

          // Switch camera
          function switchCamera() {
            currentCamera++;
            if (currentCamera>=numCameras) currentCamera = 0;
            document.getElementById("video").src = "/camera/" + cameraKeys[currentCamera]; //cameraValues[currentCamera];
          }

          // Called when page loads
          function init() {
            initCamera(); 

            // Get the HTML element for the track pad
            var trackPadEl = document.getElementById("trackpad");
            var containerEl = document.getElementById("container");

            var startX, startY;
            var dragX, dragY;

            // Position of trackpad
            var trackPadTop, trackPadLeft, trackPadW, trackPadH, trackPadMidX, trackPadMidY;

            // Current position of pointer
            var trackPadX, trackPadY;

            // Set the timer count
            var timer = TIMEINROOM;

            // Set up a timer to count down to 0
            // This function will get called every second
            var x = setInterval(function() {

              // Decrease timer
              timer--;

              // Display the result in the element with id="timer"
              if (timer>0)
                document.getElementById("timer").innerHTML = "" + timer;

              // If the count down is finished, write some text
              if (timer < -TIMEBEFOREEXIT) {
                // Time to leave the room
                clearInterval(x);
                window.location.href = "/gameover";
              }
              else if (timer < 0) {
                // Time over, so inform user
                document.getElementById("message").innerHTML = "TIME OVER";
                
                // Stop the robot and don't track mouse or trackpad movements
                if (timer==-1) $.get('/control/end')
                containerEl.removeEventListener('mousemove', onMouseMove);
                containerEl.removeEventListener('touchmove', onTouchMove);
              }
            }, 1000);   // wait 1 second between time ticks

            // Get the absolute coordinates of the trackpad on the page
            function getTrackpadCoords() {
              bounds = trackPadEl.getBoundingClientRect();
              trackPadTop = bounds.top;
              trackPadLeft = bounds.left;
              trackPadW = bounds.width;
              trackPadH = bounds.height;
              trackPadMidX = bounds.width/2;
              trackPadMidY = bounds.height/2;
            }

            // Send the move command to the robot
            // Compute x,y coordinates based on where the pointer (mouse or finger) is on the trackpad
            function sendMove(pageX, pageY) {
              // Position of pointer on trackpad (0,0 is top left of trackpad)
              trackPadX = pageX - trackPadLeft;
              trackPadY = pageY - trackPadTop;
              
              // Compute X relative to the centre of the trackpad (0,0 is the centre of the trackpad)
              relativeX = Math.round((trackPadX - trackPadMidX) / (trackPadW/2) * 100);
              relativeX = Math.min(100, relativeX);   // don't allow > 100
              relativeX = Math.max(-100, relativeX);  // don't allow < -100
              
              // Compute Y relative to the centre of the trackpad (0,0 is the centre of the trackpad)
              relativeY = Math.round((trackPadMidY - trackPadY) / (trackPadH/2) * 100);
              relativeY = Math.min(100, relativeY);   // don't allow > 100
              relativeY = Math.max(-100, relativeY);  // don't allow < -100

              // Send the movement command with the coordinates
              $.get('/control/move?x=' + relativeX + "&y=" + relativeY)
            }

            // Send a stop command to the robot
            function sendStop() {
              $.get('/control/stop')
            }  

            // Handle case where mouse is clicked on the trackpad
            function onMouseDown(e) {
              // Get position of trackpage on the page
              getTrackpadCoords()

              // Start tracking mouse movements
              containerEl.addEventListener('mousemove', onMouseMove, false);  
            }
            
            // Handle case where mouse is moved on the trackpad
            function onMouseMove(e) {
                // Find where mouse is on the page and use it to calculate and send a robot move command
                e = e || window.event;
                if (timer>0)
                  sendMove(e.pageX, e.pageY)
            }

            // Handle case where mouse is unclicked on the trackpad
            function onMouseUp(e) {
              // Stop tracking mouse movements and stop the robot
              containerEl.removeEventListener('mousemove', onMouseMove);
              sendStop()
            }

            // Handle case where the trackpad is touched
            function onTouchStart(e) {
              // Get position of trackpage on the page
              getTrackpadCoords()          

              // Start tracking finger movements
              containerEl.addEventListener('touchmove', onTouchMove, false);  
            }

            function onTouchMove(e) {
              // Find where finger is on the page and use it to calculate and send a robot move command
              var touchobj = e.changedTouches[0] // reference first touch point for this event
              sendMove(parseInt(touchobj.clientX), parseInt(touchobj.clientY))
            }

            function onTouchEnd(e) {
              // Stop tracking finger movements and stop the robot
              containerEl.removeEventListener('touchmove', onTouchMove);
              sendStop()
            }

            // Set up event handlers for mouse actions and touch actions on the trackpad
            containerEl.addEventListener('mousedown', onMouseDown, false);  
            containerEl.addEventListener('mouseup', onMouseUp, false);  
            containerEl.addEventListener("touchstart", onTouchStart, false); 
            //containerEl.addEventListener("touchmove", onTouchMove, false);   
            containerEl.addEventListener("touchend", onTouchEnd, false);                   
          } //init
        </script>
    </head>

    <body onload="init()">
      <div id="container" class="container">
        <h1>You are controlling {{robotname}}!</h1>
        <h2 id="message">{{username}} you have <span id="timer">-</span> seconds left</h2>
        
        <div class="responsive">
          <div class="responsiveitem">
            <!--This is where the video will go.  The browser will request the video stream from the specified url. -->
            <img id="video" class="video" src="" draggable="false" onclick=switchCamera()>
          </div>
          <!--This is the trackpad -->
          <div class="responsiveitem2">
            <p>Click and drag in the red square.  Use it like a joystick.  Centre is stop, up is forward, down is backward, left is left, right is right.</p>
            <div id="trackpad" class="trackpad"></div>
          </div>
        </div>
      </div> 
    </body>
  </html>